## Final Project Submission

Please fill out: 
* Student name: Sally Kinyanjui
* Student pace:Full time Hybrid
* Scheduled project review date/time: 20/03/2024
* Instructor name: Nikita Njoroge
* Blog post URL:

## MOVIE STUDIO PROJECT ANALYSIS

## Problem statement

Microsoft sees all the big companies creating original video content and they want to get in on the fun. They have decided to create a new movie studio, but they don’t know anything about creating movies. You are charged with exploring what types of films are currently doing the best at the box office. You must then translate those findings into actionable insights that the head of Microsoft's new movie studio can use to help decide what type of films to create.

## Business Understanding

As a data scientist specializing in movie industry analysis, I recognize the network of stakeholders involved,extensive web of participants,including the production companies and also the viewers. The success of a movie is based on various factors including the quality of the script, marketing strategies and the release date and the competiton it gets from other movies. Nonetheless, some genres tend to perform better than others.

 Therefore for us to be able analyze the data we are needed to gather the data from various sources including reviews.We need a combination of quantitative and qualitative analysis to tackle these problems.By analysing and understanding these data we can help the production industry at large in making more informed decisions and how to go about them resulting to more success in the industry.

## Objectives
 Help Microsoft make their new movie studio to a successful project by exploring the data provided,cleaning it ,analysing it ,gathering insights and making the necessary changes.


## Data Understanding.

The datasets that will be used in this notebook are:
1.im.db
2.bom.movie_gross.csv.gz

imdb dataset contains 8 tables which are:
No.	Table
1	movie_basics
2	directors
3	known_for
4	movie_akas
5	movie_ratings
6	persons
7	principals
8	writers

We start by first importing the relevant libraries and modules:

In [7]:
#importing libraries
import pandas as pd
import sqlite3
import csv
import os
import numpy as np
from datetime import datetime

In [8]:
#importing data visualization tools
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

The datasets are stored in the 'zippedData' folder and were sourced from:

1.https://www.boxofficemojo.com/
2.https://www.imdb.com/
3.https://www.rottentomatoes.com/
4.https://www.themoviedb.org/
5.https://www.the-numbers.com/

## Loading the datasets 

1.Loading the data from Box Office Mojolinks

In [13]:
import pandas as pd

movies_gross= pd .read_csv('zippedData/bom.movie_gross.csv.gz' )
path =('zippedData/bom.movie_gross.csv.gz' )
movies_gross

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

#2.Loading the datasets from tn.movie_budgets.csv into a dataframe.

In [14]:
import pandas as pd
movie_budget = pd.read_csv ('zippedData/tn.movie_budgets.csv.gz')
movie_budget

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

 3.Loading the Rotten Tomatoes Links

In [15]:
import pandas as pd
movies_info = pd.read_csv('zippedData/rt.movie_info.tsv.gz', delimiter='\t',encoding='unicode_escape')
movies_info

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1555,1996,Forget terrorists or hijackers -- there's a ha...,R,Action and Adventure|Horror|Mystery and Suspense,NaN,NaN,"Aug 18, 2006","Jan 2, 2007",$,"33,886,034",106 minutes,New Line Cinema
1556,1997,The popular Saturday Night Live sketch was exp...,PG,Comedy|Science Fiction and Fantasy,Steve Barron,Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner,"Jul 23, 1993","Apr 17, 2001",NaN,NaN,88 minutes,Paramount Vantage
1557,1998,"Based on a novel by Richard Powell, when the l...",G,Classics|Comedy|Drama|Musical and Performing Arts,Gordon Douglas,NaN,"Jan 1, 1962","May 11, 2004",NaN,NaN,111 minutes,NaN
1558,1999,The Sandlot is a coming-of-age story about a g...,PG,Comedy|Drama|Kids and Family|Sports and Fitness,David Mickey Evans,David Mickey Evans|Robert Gunter,"Apr 1, 1993","Jan 29, 2002",NaN,NaN,101 minutes,NaN
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures

 4 Loading the TheMovieDBLinks

In [16]:
tmdb =pd.read_csv('zippedData/tmdb.movies.csv.gz', index_col=4)
tmdb

,Unnamed: 0,genre_ids,id,original_language,popularity,release_date,title,vote_average,vote_count
original_title,,,,,,,,,
Harry Potter and the Deathly Hallows: Part 1,0,"[12, 14, 10751]",12444,en,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
How to Train Your Dragon,1,"[14, 12, 16, 10751]",10191,en,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
Iron Man 2,2,"[12, 28, 878]",10138,en,28.515,2010-05-07,Iron Man 2,6.8,12368
Toy Story,3,"[16, 35, 10751]",862,en,28.005,1995-11-22,Toy Story,7.9,10174
Inception,4,"[28, 878, 12]",27205,en,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...
Laboratory Conditions,26512,"[27, 18]",488143,en,0.600,2018-10-13,Laboratory Conditions,0.0,1
_EXHIBIT_84xxx_,26513,"[18, 53]",485975,en,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
The Last One,26514,"[14, 28, 12]",381231,en,0.600,2018-10-01,The Last One,0.0,1
Trailer Made,26515,"[10751, 12, 28]",366854,en,0.600,2018-06-22,Trailer Made,0.0,1
The Church,26516,"[53, 27]",309885,en,0.600,2018-10-05,The Church,0.0,1

5 Loading the data from reviews.

In [ ]:
reviews = pd.read_csv('zippedData/rt.reviews.tsv.gz', delimiter='\t',encoding='unicode_escape')
reviews

6 Loading the data from IMDB links

(a) First import the zipfile module.
- This will help unzip the data.

In [ ]:
import zipfile

(b) extract files and move them to the current working directory.

In [ ]:
#extract files from 'im.db.zip' to the current working directory
with zipfile.ZipFile('Data/im.db.zip','r') as zip_ref:
    zip_ref.extractall(path='Data')

In [ ]:
# create a connection.
conn = sqlite3.connect('Data/im.db')

For now we are going to extract two tables just to analyze them and also assign them to variables:

In [ ]:
movie_basics = pd.read_sql("SELECT* FROM movie_basics;",conn)
movie_rating = pd.read_sql("SELECT* FROM movie_ratings;",conn)

print(movie_basics)

In [ ]:
print(movie_rating)

#3.Data Cleaning

* This involves identifying and correcting or removing errors, inconsistencies, and inaccuracies in a datase.

3.(a) So we will clean data from Box Office Mojo

In [ ]:
#For the first 5 rows. 5 here is our index.
movie_gross.head (5)

In [ ]:
# Give summary of the Box Office Mojo
movie_gross.info(5)

In [ ]:
# Now we will give the summary of the Box Office Mojo 
movie_gross .describe()

* DUPLICATES METHOD.
You can use the duplicated method to identify duplicate entries in the dataset. This method returns a boolean array with "True" values for all the duplicated rows, and "False" for the unique ones.

In [ ]:
#To check for duplicates.
movie_gross.duplicated()

We can then check for null values and also count the total number of null values.

In [ ]:
#To check for null values
null_count = movie_gross.isnull().sum()
null_count

In [ ]:
#Checking number of null values.
total_count = movie_gross.shape[0]
total_count

We can also look for the percentage of the null values by multiplying by 100.

In [ ]:
percentage_count =(null_count/total_count)*100 
percentage_count

Here we see the total number of columns are 5.

Float is a number with a decimal place.

In [ ]:
# Drop missing values from studio because they are only 5 
# We do this using the dropna()function

movie_gross .dropna(subset=['studio'],inplace =True)

In [ ]:
#We can now look at the summary
movie_gross.info()

In [ ]:
#Replace the data in the column to commas from the string representation.
movie_gross['foreign_gross'] = movie_gross['foreign_gross'].str.replace(',','')
movie_gross

In [ ]:
#Change the data type for column studio to float
movie_gross['foreign_gross'] = movie_gross['foreign_gross'].astype(float)
movie_gross

In [ ]:
#We can now check the summary by introducing info()
movie_gross.info()

(b) We will then clean data from the numbers.

So we will first generate the first rows of movie budget.
Then get a summary of the data,convert columns to float values from strings and we will then get a summary of movie budget after making changes.

In [ ]:
movie_budget .head()

In [ ]:
# Summary of the data
movie_budget.info()

In [ ]:
# Convert columns to float values from strings 
float_values= ['production_budget','domestic_gross','worldwide_gross']
float_values

In [ ]:
#Remove non-numeric values
float_values= ['production_budget','domestic_gross','worldwide_gross']
for col in float_values:
       movie_budget[col] = movie_budget[col].str.replace(r'\D', '', regex = True).astype(float)
movie_budget

In [ ]:
# Summarize the budget after making those changes.
movie_budget.info()

(c) Cleaning TheMovieDB Links

In [ ]:
tmdb.head()

In [ ]:
# Summary of the data
tmdb.info()

In [ ]:
# Count the languages.
tmdb['original_language'].value_counts()

In [ ]:
# Check the number of duplicates
tmdb.duplicated().sum()

Here we won't drop the duplicates since there are none.

In [ ]:
# Check for null values.
tmdb.isnull() .sum()

(d) Data cleaning from reviews.

In [ ]:
#List the first rows.
reviews.head()

In [ ]:
# Summarize the data.
reviews.info()

In [ ]:
# We'll first check for the null values.
null_count= reviews.isnull().sum()
null_count

In [ ]:
# Checking duplicates 
reviews.duplicated().sum()

After checking for duplicates we are going to drop the duplicates using the dropna()function.

In [ ]:
reviews.dropna(axis=0,inplace=True)

(e) Data cleaning IMDB Links
* Here we are going to clean data from the movie_basics and also from the movie_rating.

1. Let us first data clean from the movie_basics.
We will just use the steps we used in other data sets.

In [ ]:
movie_basics.head()

As seen in the cleaning of other datasets .head() lists the first rows.

In [ ]:
# Summary of movie_basics
movie_basics. info()

In [ ]:
# Checking for null values
movie_basics.isnull().sum()

In [ ]:
# drop the non values
movie_basics.dropna(inplace = True)

In [ ]:
#Now check for duplicates.
movie_basics.duplicated().sum()

2. We will now clean the movie_ratings.

In [ ]:
#List the first rows
movie_rating.head()

In [ ]:
# Give the summary of the data of the first five rows.
#info()
movie_rating.info()

In [ ]:
#Next check for null values
movie_rating.isnull().sum()

By looking at the output given we can see very well that we do not have null values here so, there wont be need to dropping null values. But we can check whether we have duplicates,so:

In [ ]:
# Check for duplicates
movie_rating.duplicated().sum()

(e). Data Cleaning from Rotten Tomatoes Links.

In [ ]:
# List the first rows
movies_info.head()

In [ ]:
#Obtain the summary of the data.
movies_info.info()

In [ ]:
# Check for the null values and if there are any drop them using the function dropna.

null_count = movies_info.isnull().sum()
null_count

From the output we can see that there are some null values. So we are going to drop them.

In [ ]:
# Dropping the null values and summarize.
movies_info.dropna(inplace= True )

In [ ]:
movies_info.dropna(inplace= True )
movies_info.info()

Check for any duplicates.

In [ ]:
movies_info.duplicated().sum()

## Merging Data

Merge simply means joining.
To merge data in pandas, you can use the merge() function. This function allows you to combine two DataFrames based on one or more keys.

Let us join movie_basics to movie_ratings on movie_id and previewing the top as an illustration of how merging is done:

In [ ]:
#Merging movie_basics to movie_rating on movie_id and previewing the top
imdb = pd.read_sql("""
SELECT *
FROM movie_basics b
JOIN movie_ratings r
USING (movie_id)
JOIN directors d
USING (movie_id)
JOIN persons p
USING (person_id)
;
""",conn)
imdb.head()

This is a method we can use to merge and then later on we close the connection to the database by inserting conn.close().

In [ ]:
conn.close()

Nonetheless, we can also merge those data frames by:

In [ ]:
# Assuming movie_basics and movie_rating are your DataFrames
# Join the DataFrames on the 'movie_id' column
merged_df = pd.merge(movie_basics, movie_rating, on='movie_id')

# Previewing the top rows of the merged DataFrame
print(merged_df.head())

In [ ]:
#View bottom of imdb dataframe
imdb.tail

For Merging we can also rename the columns for merging.

In [ ]:
# Renaming columns for merging movie_gross and movie_basics
movie_gross.rename(columns={'title':'movie'}, inplace=True)
# Assuming you want to rename columns in another DataFrame, replace 'tmd' with the correct DataFrame name

movie_basics.rename(columns={'original_title':'movie'}, inplace=True)
movie_basics.rename

In [ ]:
#merging the movie_budget dataframe and movie_gross 

df_budget_and_gross = movie_budget.merge(movie_gross, how = 'inner', on ='movie')

In [ ]:

df_budget_and_gross.shape

Merging tmdb with movie_basics to get common languages

In [ ]:
popularity_ratings_df = pd.merge(merged_df, popula_ratings_df, how='inner', on='movie')
popularity_ratings_df

## Analyzing Data and Creating Visualizations

So here our focus is on analyzing the data and also creating visualizations that will give recommendations for this industry and also answer questions.